body {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .page-content {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  